@import url(http://fonts.googleapis.com/css?family=Roboto:400,500|Montserrat:400,700);

body {
	min-width: 275px;
	background-color: #65747C;
	font-family: 'Roboto', sans-serif;
}

#content {
	padding: 15px;
}

#annotationList.marginList {
	margin-top: 25px;
}

#annotationList h2 {
	font-family: 'Montserrat', sans-serif;
	color: #eee;
  	font-size: 2em;
}

#annotationList li {
	float: left;
	width: 100%;
}

#annotationList a:link, #annotationList a:visited {
	display: block;
	width: 100%;
	padding: 5px 9px;
	margin-bottom: 6px;
	border-radius: 4px;
	color: #333;
	text-decoration: none;
	float: left;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+34,e5e5e5+52,f5f7f9+100 */
	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 34%, #e5e5e5 52%, #f5f7f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(34%,#e5ebee), color-stop(52%,#e5e5e5), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 34%,#e5e5e5 52%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 34%,#e5e5e5 52%,#f5f7f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 34%,#e5e5e5 52%,#f5f7f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 34%,#e5e5e5 52%,#f5f7f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}

.icon {
	display: none;
}

.hasicon {
 	position: relative;
}

.hasicon:hover .icon {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#annotationList a:hover, #annotationList a:active {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,eaeaea+100 */
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	color: #555;
}

#annotationList a:hover .date, #annotationList a:active .date {
  	color: #777;
}


#annotationList a span {
	display:block;
}

#annotationList a span.date {
	color: #666;
 	font-size: 0.9em;
}

#annotationList .annotation .annotationContent {
	float: left;
}

#annotationList .annotation .fa {
	margin-right: 10px;
	width: 21px;
	float: left;
	line-height: 40px;
	font-size: 1.2em;
	text-align: center;
}

#annotationList .annotation.triNotDefault .fa {
	line-height: 58px;
}

#annotationList .annotation.priority-1 .fa {
	color: #BD0909;
}

#annotationList .annotation.priority-2 .fa {
	color: #F7A900;
}

#annotationList .annotation.priority-3 .fa {
	color: #00BF00;
}

#addCourse {
	margin-top: 15px;
}

#courseList a:link, #courseList a:visited {
	display: block;
	width: 100%;
	padding: 5px 9px;
	margin-bottom: 4px;
	border-radius: 4px;
	color: #000;
	background-color: #ccc;
	text-decoration: none;
}

#courseList a:hover, #courseList a:active {
	background-color:#999;
}

#courseList a span {
	display:block;
}

#courseList a span.date {
	color: #333;
}

#addCourseForm .panel-title a {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#addCourseForm .panel-collapse .panel {
	margin-left: 5px;
}

.btn-primary {
	border: none;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
	background: #606c88; /* Old browsers */
	background: -moz-linear-gradient(top,  #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */

	color: #eee;
}

.btn-primary:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6a7796+0,46526b+100 */
	background: #6a7796; /* Old browsers */
	background: -moz-linear-gradient(top,  #6a7796 0%, #46526b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a7796), color-stop(100%,#46526b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6a7796 0%,#46526b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6a7796 0%,#46526b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6a7796 0%,#46526b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6a7796 0%,#46526b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a7796', endColorstr='#46526b',GradientType=0 ); /* IE6-9 */
}

.buttonLeft {
	float: left;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 1px solid #333;
}

.buttonRight {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.blockInline {
	display: inline-block;
}
