<form id="addAnnotationForm">
	<div class="form-group">
		<label for="name">Titre</label>
		<input type="text" class="form-control" id="name" name="name" placeholder="Titre" value="{{name}}">
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<textarea id="description" name="description" class="form-control" rows="3">{{description}}</textarea>
	</div>
    <div class="form-group">
        <label for="deadline">Date</label>
        <input id="deadline" name="deadline" type="date" class="form-control" value="{{formatDate deadline '-' 'Y-M-D'}}">
    </div>
    <div class="form-group">
        <label for="course_id">Cours</label>
        <select id="course_id" name="course_id" class="form-control">
            {{#each courses}}
                <option{{#equal ../course_id course_id}} selected{{/equal}} value="{{course_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
	<div class="form-group">
		<label for="type_id">Type</label>
		<select id="type_id" name="type_id" class="form-control">
            {{#each types}}
    			<option{{#equal ../type_id type_id}} selected{{/equal}} value="{{type_id}}">{{name}}</option>
            {{/each}}
		</select>
	</div>
    <div class="form-group">
        <label for="priority_id">Priorité</label>
        <select id="priority_id" name="priority_id" class="form-control">
            {{#each priorities}}
                <option{{#equal ../priority_id priority_id}} selected{{/equal}} value="{{priority_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="checkbox">
        <label for="completed">
            <input id="completed" name="completed" {{#if completed}}selected {{/if}}type="checkbox"> Completé ?
        </label>
    </div>
	<button id="saveAnnotation" type="submit" class="btn btn-default blockInline">Sauvegarder</button>
	<button id="cancelAnnot" type="button" class="btn btn-danger blockInline">Annuler</button>
</form>