<h3>Ajout d'un cours</h3>
<form id="addCourseForm">
<div>
    <div class="panel-group" id="accordion">
		{{#each schools}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a id="{{school_id}}" data-toggle="collapse" data-target="#collapseOne_{{school_id}}">{{name}}</a>
                </h4>
            </div>
            <div id="collapseOne_{{school_id}}" class="panel-collapse collapse in">
				{{#each faculties}}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a id="{{faculty_id}}" data-toggle="collapse" data-target="#collapseTwo_{{faculty_id}}">{{name}}</a>
						</h4>
					</div>
					<div id="collapseTwo_{{faculty_id}}" class="panel-collapse collapse">
						{{#each courses}}
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-id="{{course_id}}" class="course" data-toggle="collapse" data-target="#collapseThree_{{course_id}}" {{#if selected}} aria-expanded="true"{{/if}}>{{name}}</a>
								</h4>
							</div>
							<div id="collapseThree_{{course_id}}" class="panel-collapse collapse{{#if selected}} in{{/if}}">
								<p> {{name}} est choisi. </p>
							</div>
						</div>
						{{/each}}	
					</div>
                </div>
				{{/each}}
            </div>
        </div>
		{{/each}}		
    </div>
</div>

<button id="saveCourse" type="submit" class="btn btn-default">Sauvegarder</button>
<button id="cancelCourse" type="button" class="btn btn-danger">Annuler</button>

</form>