
<button id="addAnnotation" type="button" class="btn btn-primary buttonLeft">Ajouter une annotation</button>

<div class="btn-group">
	<button type="button" class="btn btn-primary dropdown-toggle buttonRight" data-toggle="dropdown">
		Trier <span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right" role="menu">
		<li><a id="sortDate" href="#">Trier par date</a></li>
		<li><a id="sortPriority" href="#">Trier par priorité</a></li>
		<li class="divider"></li>
		<li><a id="regularList"href="#">Affichage par défaut</a></li>
	</ul>
</div>

<ul id="annotationList">
	{{#each courses}}
		<li>
			<h2>{{name}}</h2>

			<ul>
				{{#each annotations}}
					<li>
						<div class = "hasicon">
							<img src="Images/close.png" class="icon" />
							<a class="annotation priority-{{priority_id}}" data-id="{{annotation_id}}" href="#">
								<i class="fa fa-{{#equal type_id 1}}book{{/equal}}{{#equal type_id 2}}graduation-cap{{/equal}}{{#equal type_id 3}}thumb-tack{{/equal}}"></i>
								<span class="annotationContent">
									{{#if completed}}
										<strike><span class="name">{{name}}</span></strike>
									{{else}}
										<span class="name">{{name}}</span>
									{{/if}}
									<span class="date">{{formatDate deadline}}</span>
								</span>
							</a>
						</div>
					</li>
				{{/each}}
			</ul>
		</li>
	{{/each}}
</ul>

<button id="addCourse" type="button" class="btn btn-primary">Ajouter un cours</button>
